/*.container height in percentage wil not work unless
its parent element has a specified height.
*/
body {
    /*height: 80vh;*/
    background-color: #DCDDD6;
    position: relative;
    margin: 40 auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    height: 980px;
    width: 980px;
    float: right;
    position: relative;
    margin: 0px 20px auto;
    padding: 15px;
}

.gridel {
    display: inline-block;
    background-color: #eee;
    width: 6.25%;
    height: 6.25%;
}

.grid_lines {
    outline: #ccc000 1.6px dotted;

}

.gridel:hover {
    background-color: #ff6567;
    cursor: crosshair;
}

.painted {
    background-color: #336699;
}

aside {
    position: absolute;
    background-color: #edf699;
    width: 200px;
    height: 955px;
    padding: 15px;
    top:12px;
}

/* input {
    position: absolute;
    top:80px;
    color: #eed000;
} */
.centeredLargeButton {
    /*display:inline-block;*/
    width: 12rem;
    //margin: 10px;
    font-size: 0.9rem;
    padding: 0.5rem;
    position: absolute;
    color:#191919;
    top:35px;
    left:19px;
}

.position {
    position: absolute;
    top:6rem;
    left:19px;
    margin-top: 20px;
}

.centeredLargeButton:hover {
    cursor: pointer;
    /*background-color: purple;*/
    color:#7f7f7f;
}
