html * {
    box-sizing: border-box;
}

/*.container height in percentage wil not work unless
its parent element has a specified height.
*/
body {
    background-color: #DCDDD6;
    position: relative;
    margin: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* apply default clearfix styles on body -- because body contains
floated elements */
body:after {
    content:"";
    display:table;
    clear:both;
}

.container {
    height: 980px;
    width: 980px;
    float: right;
    position: relative;
    margin: 0;
}

/* side bar created for button elements to sit*/
aside {
    background-color: #edf699;
    width: calc(100% - 1040px);
    height: 980px;
    padding: 15px;
}


/*default gridel with the height and width of a 6.25%   */
.gridel {
    display: inline-block;
    background-color: #eee;
    width: 6.25%;
    height: 6.25%;
}

/*change background color to red on mouse hover*/
.gridel:hover {
    background-color: #ff6567;
    cursor: crosshair;
}

.grid_lines {
    outline: #ccc000 1.6px dotted;

}
/*apply the class painted on mouseleave/mouseenter*/
.painted {
    background-color: #336699;
}

/*set properties for button that will sit on the left hand side*/
.centeredLargeButton {
    width: 100%;
    font-size: 0.9rem;
    color:#191919;
    margin: 1rem auto;
    padding: 0.5rem;
}

.centeredLargeButton:hover {
    cursor: pointer;
    color:#7f7f7f;
}

.setting_input + .setting_input {
    margin-top: 0.5rem;
}

.setting_input label {
    width: 30%;
}

.setting_input input {
    width: 60%;
}
