/*.container height in percentage wil not work unless
its parent element has a specified height.
*/
body {
    height: 80vh;
}

.container {
    height: 100%;
    width: 600px;
    margin: auto;
}

.gridel {
    display: inline-block;
    background-color: #eee;
    width: 6.25%;
    height: 6.25%;
    outline: #ccc 1px solid;
    color: #ccc;
}

.gridel:hover {
    background-color: blue;
    cursor: crosshair;
}
.painted{
    background-color: purple;
}
